langchain_community==0.2.19
platformdirs
aiosignal
MarkupSafe
setuptools
eval_type_backport
sentencepiece
pydantic
pexpect
langchain-openai
editdistance
anyio
pickleshare
Unidecode
langchain-together
aiohttp
distro
tomli
together
soupsieve
multidict
debugpy
nvidia-cudnn-cu11
elastic-transport
comm
click
nvidia-cuda-runtime-cu11
idna
scikit-learn
tokenizers
httpcore
joblib
annotated-types
zipp
pyarrow-hotfix
bs4
kiwisolver
fonttools
nvidia-cuda-nvrtc-cu11
rank-bm25
importlib_resources
llama-cpp-python
Pygments
python-dateutil
jupyter_client
charset-normalizer
python-dotenv
bitarray
importlib-metadata
safetensors
psutil
Werkzeug
scipy
tqdm
h11
jedi
beautifulsoup4
backcall
pillow
traitlets
regex
langchain
executing
pydantic_core
tiktoken
certifi
six
ptyprocess
nltk
mdurl
entrypoints
sniffio
ujson
decorator
pytz
markdown-it-py
smmap
wcwidth
fsspec
GitPython
xxhash
dill
ipdb
sentence-transformers
typer
pure-eval
stack-data
multiprocess
rapidfuzz
yarl
contourpy
packaging
elasticsearch
requests
tzdata
rich
async-timeout
git-python
cycler
jupyter_core
matplotlib-inline
torch
frozenlist
exceptiongroup
PyYAML
igraph
asttokens
transformers
numpy
tabulate
attrs
pandas
nvidia-cublas-cu11
matplotlib
thefuzz
httpx
pytrec_eval
Flask
threadpoolctl
faiss-gpu
texttable
blinker
gitdb
nest-asyncio
shellingham
typing_extensions
gritlm
filelock
huggingface-hub==0.23.4
pyarrow
pyparsing
Jinja2
itsdangerous
openai
ninja
urllib3
parso
colbert-ai
